html {
  background: url(noise.png) #f9f9f9;
  font-family: "Open Sans", sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #3e3e3e;
  text-shadow: 0 2px 1px #ffffff;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

body.centered {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered .wrapper {
  text-align: center;
}

.wrapper {
  padding: 0 20px;
}

.wrapper.tight > *{
  padding: 0 20px;
}

fieldset {
  border: none;
  margin: 20px 0;
  padding: 10px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

fieldset.radio {
  padding: 0;
}

legend, label {
  width: 100%;
  font: 1.2em 'Open Sans', sans-serif;
}

legend {
  padding: 20px 20px 0 0; 
}

legend ~ label {
  font-size: 1.0em;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #dbe0e4;
  border: 1px solid #b1bac1;
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4em;
  color: #343434;
  text-shadow: 0 1px 1px #ffffff;
}

input[type=email], input[type=text] {
  width: 100%;
  margin: 10px 0;
  padding: 8px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #dbe0e4;
  border: 1px solid #b1bac1;
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4em;
  color: #343434;
  text-shadow: 0 1px 1px #ffffff;
}

.break {
  height: 40px;
}

header {
  height: 60px; width: 100%;
  margin-bottom: 40px;
  background-color: #000000;
  text-shadow: none;
}

header > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header img {
  float: left;
  background-color: #282828;
  color: #b9b9b9;
  margin: 10px;
  font-size: 1.2em;
  line-height: 60px;
  text-align: center;
}

header h1 {
  display: block;
  color: #dddddd;
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

#connect, #share {
  display: none;
}

p {
  color: #787878;
  font-size: .9em;
  margin: 0;
}

.light_text {
  font-weight: 200;
}

.bolder_text {
  font-weight: 600;
}

figcaption {
  margin-top: 10px;
  color: #b3b3b3;
  font-size: .9em;
  line-height: .6em;
  display: inline-block;
}

.big_text {
  font-size: 4em;
  line-height: 1em;
  color: #383838;
  font-family: 'Open Sans Condensed', sans-serif;
}

.verticle_steps {
  list-style: none;
  float: right;
}

.verticle_steps li {
  border: 4px solid #c6d0da;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  display: block;
  width: 40px; height: 40px;
  line-height: 40px;
  text-align: center;
  color: #71777c;
  margin: 8px;
}

.social_buttons {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.social_buttons li {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.social_buttons li:first-of-type {
  
}

.social_buttons li:last-of-type {
  border-right: none;
}

/* @group Radio Button Stuff */

/*input[type=radio] {
  position: absolute;
  left: -1000px;
}*/

form {
  padding: 0;
  margin: 0;
  text-align: left;
}

label {
  position: relative;
}

fieldset:first-of-type legend {
  padding-top: 0;
}

/*input[type=radio] + label {
  padding: 20px 0 0;
  width: 25%;
  display: inline-block;
  color: #717171;
  font-weight: 500;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  float: left;
}*/

/*input[type=radio] + label::before {
  content: '\a';
  width: 50px; height: 50px;
  padding: 10px;
  display: table;
  left: 18px;
  top: 18px;
  position: absolute;
  background-color: #f0f078;
}*/

.target {
  width: 50px; height: 50px;
  display: block;
  border: 3px dashed #7a7a7a;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  top: -10px;
  margin-left: -20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ball {
  display: block;
  -webkit-transform: scale(0);
  border: 1px solid #a4b936;
  background-color: #b7cb51;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 25px;
  left: 25px;
  position: absolute;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  
  -webkit-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1); /* older webkit */
  -webkit-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -moz-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -ms-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -o-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650); /* custom */
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text {
  z-index: 100;
  padding: 80px 20px 0;
}

input[type=radio]:checked + label .ball {
  width: 50px;
  height: 50px;
  -webkit-transform: none;
  left: -3px;
  top: -3px;  
}

/* @end */

/* @group Button Stuff */

button {
  margin: 20px 0;
  width: 100%;
  padding:10px;
	font-size: 1.4em;
	position:relative;
	color: #363636;
	border: 1px solid #94b033;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #afd23f;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

button.fb {
  background-color: #3c5387;
  color: #f0f0f0;
  border: 1px solid #1d4890;
  font-weight: 200;
  font-style: normal;
}

button.fb:active {
  background-color: #3b5286;
}

button:active {
	
}

header button {
  width: 50px;
  height: 40px;
  margin: 10px;
}

header button.right {
  float: right;
}

button.dotted {
  border: 2px dashed #9fc32d;
  background-color: rgba(253, 253, 253, 0);
  color: #747474;
}

/* @end */

#q_panel {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: none;
}

#q_panel.hidden {
  opacity: 0;
}

#q_panel li {
  padding: 20px 0;
}

#q_panel li:first-of-type {
  padding-top: 0;
}

#q_panel fieldset {
  display: none;
}

#q_panel li.selected {
  border-style: solid;
  background-color: #ffffff;
}

/* @group Slider Stuff */

.slider {
  position: relative;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.track {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #666;
  z-index: 0;
}

.knob {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 10px;
  top: 20px;
  width: 50px;
  background-color: rgb(175, 210, 63);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgb(160,160,160);
  cursor: pointer;
}

.knob:before {
  position: absolute;
  display: block;
  content: '\a';
  top: -30px;
  left: 30%;
  border: 10px solid transparent;
  border-bottom: 20px solid #afd23f;
}

/* @end */