html {
  background: url(noise.png) #f9f9f9;
  font-family: "Open Sans", sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #3e3e3e;
  text-shadow: 0 2px 1px #ffffff;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

fieldset {
  border: none;
  margin: 20px 10px;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

fieldset.radio {
  padding: 0;
}

legend, fieldset:not(.radio) label {
  font-size: 1.6em;
  font-family: 'Open Sans Condensed', sans-serif;
}

legend {
  padding: 20px 20px 10px; 
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #dbe0e4;
  border: 1px solid #b1bac1;
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.07);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4em;
  color: #343434;
  text-shadow: 0 1px 1px #ffffff;
}

.break {
  height: 40px;
}

header {
  height: 60px; width: 100%;
  margin-bottom: 140px;
  background-color: #ffffff;
  text-shadow: none;
}

header > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header .logo {
  background: url(bg-logo.gif) no-repeat center center #eaea4e;
  height: 100%;
  width: 40%;
  position: relative;
  float: left;
}

header .logo::after {
  content: '\a';
  display: block;
  position: absolute;
  right: -50px;
  border: 30px solid transparent;
  border-left: 20px solid #e9ea4e;
}

header .tagline {
  float: left;
  width: 60%; height: 100%;
  padding-left: 40px;
  background-color: #424341;
  color: #fcfcfc;
  font-size: 1.2em;
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}

.light_text {
  font-weight: 200;
}

.bolder_text {
  font-weight: 600;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 50;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay > * {
  width: 50%;
  float: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.overlay::after {
  content: '\a';
  clear: both;
  display: block;
}

.overlay h1 {
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 20px;
  line-height: middle;
  height: 100%;
}

.counter {
  text-align: center;
  border-radius: 6px;
  width: 50%;
}

figcaption {
  margin-top: 10px;
  color: #b3b3b3;
  font-size: .9em;
  line-height: .6em;
  display: inline-block;
}

.big_text {
  font-size: 4em;
  line-height: 1em;
  color: #383838;
  font-family: 'Open Sans Condensed', sans-serif;
  
}

/* @group Radio Button Stuff */

input[type=radio] {
  position: absolute;
  left: -1000px;
}

form {
  padding: 0;
  margin: 0;
}

label {
  position: relative;
}

fieldset:first-of-type legend {
  padding-top: 0;
}

input[type=radio] + label {
  padding: 20px 0 0;
  width: 25%;
  display: inline-block;
  color: #717171;
  font-weight: 500;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

/*input[type=radio] + label::before {
  content: '\a';
  width: 50px; height: 50px;
  padding: 10px;
  display: table;
  left: 18px;
  top: 18px;
  position: absolute;
  background-color: #f0f078;
}*/

.target {
  width: 50px; height: 50px;
  display: block;
  border: 3px dashed #7a7a7a;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  top: -10px;
  margin-left: -20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ball {
  display: block;
  -webkit-transform: scale(0);
  border: 1px solid #a4b936;
  background-color: #b7cb51;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 25px;
  left: 25px;
  position: absolute;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  
  -webkit-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1); /* older webkit */
  -webkit-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -moz-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -ms-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -o-transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  transition: all 400ms cubic-bezier(0.280, 0.000, 0.345, 1.650); /* custom */
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text {
  z-index: 100;
  padding: 80px 20px 0;
}

input[type=radio]:checked + label .ball {
  width: 50px;
  height: 50px;
  -webkit-transform: none;
  left: -3px;
  top: -3px;  
}

/* @end */

/* @group Button Stuff */

button {
  margin: 20px 10%;
  width: 80%;
  padding:10px;
	font-size: 1.4em;
	position:relative;
	color:#fff;
	border: 1px solid #708625;
  -webkit-box-shadow: inset 0 1px 0 #b7e821, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0 1px 0 #b7e821, 0px 1px 0px #fff;
	box-shadow: inset 0 1px 0 #b7e821, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.53);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(159, 192, 50)), to(rgb(175, 210, 63))) #afd23f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button::before {
	background-color:#ccd0d5;
	content:"\a";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

button:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(166, 199, 59)), to(rgb(142, 172, 50)));
}

/* @end */